body {
    background-color: #DADDE1;
}

div {
   margin: auto;
   text-align: center;
   align-self: center;
   width: 75%;
   padding: 20px;
}

h2 {
    color: black;
}

.jumbotron{
    background-color: #3E668D;
}

a {
    color: black
}

div.card-body {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

button#calculate.button {
  background-color: #3E668D;
  width: 12em;
  height: 3em;

}
