body {
    background-color: #DADDE1;
}

div {
   margin: auto;
   text-align: center;
   align-self: center;
   width: 75%;
   padding: 20px;
}

h2 {
    color: black;
}

h1.display-4 {
  text-align: center;
  font-size: 42px;
}

.jumbotron{
    background-color: #3E668D;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: black

}

li.list {
  list-style-type: none;

}

div.card-body {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
}

button#calculate.button {
  background-color: #3E668D;
  width: 12em;
  height: 3em;

}

p.lead {
  font-size: 24px;
  text-align: center;
}
