body {
    background-color: #4286f4;
}
p {

}

ul{
  list-style-type: none;
  text-align: center;
}

div {
   margin: auto;
   text-align: center;
   align-self: center;
   border
   width: 75%;
   padding: 20px;
}

h2 {
    color: black;
}
